@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;600;700&family=Comic+Neue:wght@300;400;700&display=swap');

body {
    font-family: 'Baloo 2', 'Comic Neue', sans-serif;
    background-color: #FDF2F8;
    color: #831843;
}
